
/*body{
	margin:0px;
	padding:0px;
	background:url("gym1.jpg");
	background-size:cover;
	background-attachment:fixed;	
}*/

/*#video{
	padding:0;
	margin:0;
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-attachment:fixed;
	background-size:cover;
}*/

.left{
	display:inline-block;
	position:absolute;
	left:60px;
	top:10px;
	}
.left img{
	width:70px;
	/*filter:invert(100%);*/
	
}
.left div{
text-align:center;
font-size:30px;
line-height:20px;

}

.navbar{
	display:flex;
	justify-content:space-between;
}
/*header{
	overflow:auto;
	position:absolute;
	width:100%;
}*/
.navbar li{
	
	display:inline-block;
}
.navbar li a:hover, .navbar li a.active{
	text-decoration:underline;
	text-transform:uppercase;
	color:white;
	background-color:grey;
}

.navbar li a{
	width:150px;
	display:block;
	padding:25px;
	text-decoration:none;
	font-family:arial;
	color:black;
	text-align:center;
}

.mid{
	font-family:"Harabara Bold", Arial, sans-serif;
font-style:italic;
	font-weight:bold;
	display: block;
	 width:40%;
	
	text-align:center;
	
	width:100%;
	overflow:auto;
	
	
}
.right{
	position:absolute;
	right:34px;
	top:20px;
	display:inline-block;
	
}
.btn{
	margin-top:15px;
	margin-left:15px;
	color:white;
	background:black;
	padding:4px;
	font-size:15px;
	border-radius:15px;
}
.btn:hover{
	background-color:red;
}
.texte{
    position:absolute;
	
	
	top:30%;
	margin:0 30px 30px 30px;
	text-align:rightight;
	font-family:"Harabara Bold", Arial, sans-serif;
	font-size:45px;
	font-style:italic;
	font-weight:bold;
	border:2px blue inset;
	
}
/*#hero-slider .hero-slide-item{
	position:relative;
	height:895px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
}*/
	
	